Protocol 2
ForwardAgent yes
Host dt
	Hostname depressedtest.corp.gq1.yahoo.com
Host ss
  Hostname steepsweep.corp.gq1.yahoo.com
Host stg-ia
  Hostname stg-ia-01.infra.corp.bf1.yahoo.com
Host dev-ia
  Hostname dev-ia-01.infra.corp.bf1.yahoo.com
Host int-ia
  Hostname int-ia-01.infra.corp.bf1.yahoo.com
Host hudson-ia
  Hostname dev-ia-hudson.infra.corp.gq1.yahoo.com
Host hudson-ia-smoke
  Hostname dev-ia-selenium.infra.corp.gq1.yahoo.com
