Protocol 2
ForwardAgent no

Host dt
	Hostname depressedtest.corp.gq1.yahoo.com
  ForwardAgent yes
Host ss
  Hostname steepsweep.corp.gq1.yahoo.com
  ForwardAgent yes
Host hd
  Hostname highlydryly.corp.ne1.yahoo.com
  ForwardAgent yes
Host bs
  Hostname bettersweater.corp.ne1.yahoo.com
  ForwardAgent yes
Host kl
  Hostname knockedlocked.corp.ne1.yahoo.com
  ForwardAgent yes

Host stg-ia
  Hostname stg-ia-01.infra.corp.bf1.yahoo.com
Host dev-ia
  Hostname dev-ia-01.infra.corp.bf1.yahoo.com
Host int-ia
  Hostname int-ia-01.infra.corp.bf1.yahoo.com
Host hudson-ia
  Hostname dev-ia-hudson.infra.corp.gq1.yahoo.com
Host hudson-ia-smoke
  Hostname dev-ia-selenium.infra.corp.gq1.yahoo.com
Host ci
  Hostname ci-watchtower-03.infra.corp.bf1.yahoo.com
